/* TODO Add site wide styles */
*{
    font-family:  Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}

/* #root{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    position: fixed;

} */
