/* TODO Add site wide styles */
*{
    font-family:'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}

/* #root{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    position: fixed;

} */

button{
    cursor: pointer;
}

.error-div{
    color: #E31837;
    font-size:15px;
    margin-bottom: 10px;
}
