#login{
    background-color: transparent;
    border-style: none;
    color: #FFFFFF;
    background: rgba(0, 0, 0, .3);
}

#logout-butt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-style: none;
    background: rgba(0, 0, 0, .3);
    color: #FFFFFF;
    text-align: center;
    line-height: 15px;
    width: 100%;
}

#logout-butt>div{
    text-transform: uppercase;
}
